.juzhong{
	position: relative;
	margin: 0 auto;
	width: 800px;
	height: 100px;
	background: #fffff;
}

.jianli{
	float: left;
	margin-top: 30px;
	color: blue;
}

.juzhong .newitem .item{
	float: right;
	margin-top: 30px;
	margin-right: 15px;
	color: blue;
}