.header{
	position: relative;
	margin: 0 auto;
	background: #fffff;
	width: 1600px;
	height: 200px;
}

.box{
	width: 1200px;
}

.logo{
	float: left;
	margin-top: 60px;
	margin-left: 15px;
}

.logo a{
	width: 70px;
	height: 95px;
}

.newitem{
	float: left;
	margin-left: 130px;
	font-size: 16px;
	font-family: "Myriad Pro";
}

.newitem a{
	color: #42394A;
}

.comtent{
	float: left;
	margin-right: 54px;
	margin-top: 100px;
}

.comtent1{
	list-style: none;
	float: left;
	margin-right: 54px;
	margin-top: 100px;
}

.comtent2{
	color: #e91717;
}

.newitem2{
	position: absolute;
	right:52px;
	font-size: 16px;
	font-family: "Myriad Pro";
}

.newitem2 .comtent3{
	list-style: none;
	float: right;
	margin-top: 100px;
	margin-right: 42px;
}

.tubiao{
	float: right;
	margin-top: 100px;
	margin-right: 26px;
}

.newitem2 a{
	color: #42394A;
}

